<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMPhflow Care</title>
    <link href="messi.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ronaldo.css') }}" rel="stylesheet">
    
</head>
<body>
  <div class="navbar">
    <a href="index.html">Home</a>
    <a href="instruction.html">Instructions</a>
    <a href="contact.html">Contact Us</a>   

    <div class="dropdown">
      <button class="dropbtn">Select Disease
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="diabetes.html">Diabetes</a>
        <a href="thyroid.html">Thyroid</a>
        <a href="pneumonia.html">Pneumonia</a>
        <a href="malaria.html">Malaria</a>
        <a href="cardio.html">Cardio</a>
     

      </div>
      </div>
  <h1>Welcome To AMPhflow Care</h1>
  <div class="content1">
    <h2>
      More Choices
      <br>
      Better Health Care
  
    </h2>
  
  
  </div>
  
  <div class="animation">
  <img src="static/AI.png" width=550px height=290px  >
  </div>

  <div class="para1">
    <p>
       Machine Learning in healthcare aids the human to  process huge and complex
      medical<br><br>dataset and then analyze them into clinical insights.This
      is a place where we can <br><br>upload records of the patients and get the prediction.AMPhflow Care predicts the<br><br>diseases related to Cardio, Thyroid, Malaria,  
       Pneumonia and Diabetes.Predictive <br><br>algorithms and machine learning can give us a better predictive model of mortality<br><br> that doctors can use to educate patients. But machine learning needs a certain <br><br>amount of data to generate an effective algorithm.Much of machine learning will<br><br> initially come from organizations with big datasets<br><br><br>
    </p>
    </div>
    <div class="animation1">
    <img src="static/machine.jpg"height=300px width=550px>
    </div>
    <div class="para2">
    <p>
      The value of machine learning in healthcare is its ability to process huge datasets <br><br>beyond the scope of human capability, and then reliably convert analysis of that data <br><br>into clinical insights that aid physicians in planning and providing care, ultimately<br><br> leading to better outcomes,lower costs of care, and increased patient satisfaction.
      . <br><br>We are integrating machine learning and 
deep learning with computer vision<br><br> and natural language processing to make this
 application.<p></p><p><p></p>

    </p>
    </div>
  

    <div class="content2">
    <h2>Why AMPhflow Care ?</h2>
    </div>
   
    <div class="c2">
    <p>AMPhflow Care is used by researchers to assist them in the process for fastly predicting <br>the result when the required parameters are considered.<br><br>
      In health care time is an essence , so by using our web application they can save 
      their time <br><br>      
     In some of the cases the patients have to take many tests for the confirmation of their disease<br> so for that
       situation AMPhflow Care would be more helpful.<br><br>
      Accurate study of medical data benefits early disease recognition, patient care and community <br>services.

      <br><br>
      It enables healthcare professionals in better decision-making, identifying trends and innovations,<br>and improving the efficiency of research and clinical trials.<br><br>
<br><br>

      <h3>So we think you should have a clear idea about why you should choose AMPhflow Care</h3>
      </p>
      <div class="im">
        <img src="static/ins.png" height="300px" weight="300px">
    </div>
    
</body>
</html>