<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>

    <link href="{{ url_for('static', filename='css/instruction.css') }}" rel="stylesheet">
</head>
<body>
    <h1>How To Use AMPhflow Care </h1>
    
    <div class="imagei">
        <img src="static/amphflow.png">
    </div>
    <div class="instruction">
        <p>
        AMPhflow Care is a platform used for disease prediction.In AMPhflow Care you can verify these 5 diseases listed below.<br><br>
        1.DIABETES <br><br> 2.PNEUMONIA<br><br>
        3.MALARIA<br><br>
        4.THYROID<br><br>
        5.CARDIO VASCULAR DISEASE
        </p>
        <h2>Guidelines</h2>
        <p>1.In the Home page you can check the entire details of AMPhflow Care<br><br>
        2.By clicking the Disease Option in the top menu You can choose any of<br>
    the diseases<br><br> 
    3.In the first option you can see the Diabetes , when you enter the page ,their<br>
    are two options <br><br>
    3.1 You can upload the input as a csv file (in the case of multiple predictions)<br><br>
    3.2 You can simply type the inputs in normal format(in case of single person)<br><br>
    4.These same mechanism is used in both Cardio and Thyroid.<br><br>
    5.In the case of Pneumonia and Malaria the user can simply click the upload button<br><br>
      choose the scanned or X-ray file from your system.  </div>
         </div></p>
    </div>
</body>
</html>